.littleForm{width: 40px;}
.wrapMainField{display: block; text-align: center;}
.mainField{margin: 25px auto;  display: inline-block; position: relative;}
.line{height:23px ; clear:both; }
.cell{
    height: 22px;
    width: 20px;
    padding:3px ;
    background: #fff;
    float: left;
    border: 2px solid #2f2f2f;
    font-weight: bold;
    font-size: large;
}
.mainHeader{
    text-align: center;
    color: #fff;
    font-family: 'Seymour One', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
    margin-bottom: 20px;
}
.titleHeader{
    text-align: center;
    color: #fff;
    font-family: 'Andika', sans-serif;
}
.container{
    width: 900px;
    margin: 0 auto;
}
body{
    background: url(back.jpg);
    background-size: cover;
    background-position: 400px 0px;
}
.button{
    height: 65px;
    width: 280px;
    background: #ab5d2d;
    color: #ffe9dc;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .5s ease-out;
    border: 1px solid #2f2f2f;

}
.button:hover{
    background: #d06d32;

    color: #fff;
    border: 0;
}
span{
    color: #fff;
    font-family: 'Andika', sans-serif;
    font-weight: bold;
}
#log{
    background: #fff;
}
.center{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}
.c1{color: #2f2f2f ;}
.c2{ color: green ;}
.c3{ color: chocolate;}
.c4{ color: maroon;}
.c5{ color: blueviolet;}
.c6{ color: darkblue;}
.c7{ color: fuchsia;}
.c8{ color: black;}
audio{
    text-align: center;
    margin: 0 auto;
}