hr {
    background:red;
    height: 2px;
    width: 100%;
}
.description{
    font-family: monospace;
    font-size:1.2em;
}
.description h3{
    font-size: 1.4em;
    font-weight: bold;

    border-bottom: 2px solid red;
}
.game{
    padding: 25px 0;
    text-align: center;
}
.entAnswer{
    display: none;
}
.tableAnswers table{
    margin: auto;
}
.tableAnswers td{
    padding: 7px;
    border: 1px solid red;
}
.example{
  text-align: center;
}
.exampleTextWrap{
    display: inline-block;

}
.exampleText{
    font-size: 2em;
    color: red;
}
